@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700&display=swap');

.navbar{
  width: 100%;
  height: 100%;
  display: flex;  

  &-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;    

    &-elements{
      display: flex;
      width: 80%;
      height: 100%;
      justify-content: space-around;
      align-content: center;

      &-item{
        font-size: 2rem;
        text-decoration: none;
        align-self: center;       
        font-family: 'Cairo', sans-serif;
        color: $dark-blue-home;
      }
     
    }
  }

  @include respond(maxNavBar){
    width: 0;
    height: 0;
    display: none;
  }
}