//Coloer palette
$light-blue-color: #96dff4;
$light-green-color: #d5e3ac;
$lime-green-color: #bdef53;
$glow-pink-color: #f662d1;
$dark-purple-color: #2d0625;


$light-blue-home: #00d2ff;
$dark-blue-home: #3a47d5;

//Base Colors
$white-color: #fff;
$black-color: #000;
$light-black-color: #111;
$grey-color: #888;
$red-favourite-color: #e40017;
$ligth-gray-color: #f0f2f2;

//Social Colors
$linked-in-blue: #2867B2;
$facebook-blue: #4267B2;
