@import "./sass/variables";
@import "./sass/base";
@import "./sass/home";
@import "./sass/animations";
@import "./sass/mixins";
@import "./sass/about";
@import "./sass/navbar";
@import "./sass/mobNav";
@import "./sass/education";
@import "./sass/work";
@import "./sass/projects";
@import "./sass/contact";


.App {
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 100vw;
}


